@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    <text>
    Welcome, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })!
            @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">[Log off]</a>

    </text>
    }
}
else
{
    <text>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) |
        @Html.ActionLink("Login [with your social account]", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </text>
}
