@using (Html.BeginForm("Search", "Home"))
{
    <div id="search">
        <input type="text" id="filter" name="filter" placeholder="search..." />
        <input type="submit" value="search" />
    </div>
}