@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Administration";
}

<div class="content_pad">
    <h3>Welcome to the dashboard!</h3>
    <p style="text-align: justify">
        This is the administration place of RallyPortal, where you manage your side-data. Use this site wisely!
    </p>
</div>